.idea/*

!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml

!.idea/dictionaries
.idea/dictionaries/*
!.idea/dictionaries/dictionary.xml

!.idea/inspectionProfiles
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/profiles_settings.xml
!.idea/inspectionProfiles/Project.xml

*.iml

.DS_Store

target/

.cache/